/* ================= FUNDO ================= */
body {
  background: url("https://media.discordapp.net/attachments/1416602055652409445/1447318622035775518/IMG-20251207-WA0035.jpg?ex=69373001&is=6935de81&hm=ce40de726f1d4a0b62ca478a07aa7b122f402a3f84fc4cfc59fe77265f3c885d&=&format=webp")
              no-repeat center center fixed;
  background-size: cover;

  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* ================= PAINEL DE LOGIN ================= */
.login-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 9999;
}

/* ================= LOGO (ABSOLUTA) ================= */
.login-logo {
  position: absolute;
  top: 8%;                      /* ajuste a altura que quiser */
  left: 50%;
  transform: translateX(-50%);

  width: 160px;

  user-select: none;
  pointer-events: none;         /* NÃO afeta nada */
  filter: drop-shadow(0 0 8px #00000070);

  z-index: 999999;              /* SEMPRE por cima */
}

/* ================= BOX DE LOGIN ================= */
.login-box {
  width: 500px;
  min-height: 480px;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  padding: 10px 35px;

  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================= TEXTO ================= */
.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.msg {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
}

.login-label {
  width: 100%;
  font-size: 1rem;
  margin-top: 6px;
  margin-bottom: 3px;
  font-weight: 600;
}

/* ================= INPUTS ================= */
.login-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(255,255,255,0.1);
  color: #fff;
  margin-bottom: 12px;
}

.login-input::placeholder {
  color: #ccc;
}

/* ================= BOTÃO ================= */
.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;

  border-radius: 10px;
  border: none;
  background: #2c38d8;

  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;

  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #06007e;
}

/* ================= RODAPÉ ================= */
.login-footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  opacity: 0.8;
}

/* ================= MOBILE ================= */
@media (max-width: 700px) {

  .login-logo {
    top: 5%;
    width: 130px;
  }

  .login-box {
    width: 92%;
    min-height: 360px;
    padding: 15px;
  }

  .login-title {
    font-size: 1.7rem;
  }

  .msg {
    font-size: 0.95rem;
  }
}
